:root {
  --md-source: #006796;
  /* light */
  --md-sys-color-primary-light: #006492;
  --md-sys-color-primary-rgb-light: rgba(0, 100, 146, 0.05);
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #cae6ff;
  --md-sys-color-on-primary-container-light: #001e2f;
  --md-sys-color-secondary-light: #50606e;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d3e5f5;
  --md-sys-color-on-secondary-container-light: #0c1d29;
  --md-sys-color-tertiary-light: #64597b;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #eaddff;
  --md-sys-color-on-tertiary-container-light: #201634;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fcfcff;
  --md-sys-color-on-background-light: #1a1c1e;
  --md-sys-color-surface-light: #fcfcff;
  --md-sys-color-on-surface-light: #1a1c1e;
  --md-sys-color-surface-variant-light: #dde3ea;
  --md-sys-color-on-surface-variant-light: #41474d;
  --md-sys-color-outline-light: #72787e;
  --md-sys-color-inverse-on-surface-light: #f0f0f3;
  --md-sys-color-inverse-surface-light: #2e3133;
  --md-sys-color-inverse-primary-light: #8bceff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006492;
  --md-sys-color-outline-variant-light: #c1c7ce;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #8bceff;
  --md-sys-color-primary-rgb-dark: rgba(139, 206, 255, 0.05);
  --md-sys-color-on-primary-dark: #00344e;
  --md-sys-color-primary-container-dark: #004b6f;
  --md-sys-color-on-primary-container-dark: #cae6ff;
  --md-sys-color-secondary-dark: #b7c9d9;
  --md-sys-color-on-secondary-dark: #22323f;
  --md-sys-color-secondary-container-dark: #384956;
  --md-sys-color-on-secondary-container-dark: #d3e5f5;
  --md-sys-color-tertiary-dark: #cfc0e8;
  --md-sys-color-on-tertiary-dark: #352b4b;
  --md-sys-color-tertiary-container-dark: #4c4162;
  --md-sys-color-on-tertiary-container-dark: #eaddff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #1a1c1e;
  --md-sys-color-on-background-dark: #e2e2e5;
  --md-sys-color-surface-dark: #1a1c1e;
  --md-sys-color-on-surface-dark: #e2e2e5;
  --md-sys-color-surface-variant-dark: #41474d;
  --md-sys-color-on-surface-variant-dark: #c1c7ce;
  --md-sys-color-outline-dark: #8b9198;
  --md-sys-color-inverse-on-surface-dark: #1a1c1e;
  --md-sys-color-inverse-surface-dark: #e2e2e5;
  --md-sys-color-inverse-primary-dark: #006492;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #8bceff;
  --md-sys-color-outline-variant-dark: #41474d;
  --md-sys-color-scrim-dark: #000000;
}
